
.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 30px;
}

.res-list {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0 !important;
}


a {
    text-decoration: none !important;
}