
.cardList {
    margin-bottom: 85px;
    margin: auto;
}

.customCard {
    border-style: solid !important;
    border-left: 1px solid !important;
    border-radius: 20px !important; 
    text-align: left !important;
    font-size: 1.1rem;
    transition: transform .2s;
    width: 400px;
    height: 200px !important;
    margin: 2%;
}

.customCard:hover {
    background-color: rgb(240, 218, 252) !important;
    transform: scale(1.05);
}

.customLink {
    text-decoration: none !important;
}

.customCardText {
    text-decoration: none !important;
    color: black !important;
    vertical-align: middle;
}

.customBodyText {
    font-size: 0.9rem;
    color: gray !important;
}

.acad-icon {
    height: 30px !important;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

