
.academics {
    padding-top: 2rem;
    margin-bottom: 8%;
}

.customCard {
    border-style: solid !important;
    border-left: 1px solid !important;
    border-radius: 20px !important; 
    text-align: left !important;
    font-size: 1.1rem;
    transition: transform .2s;
    flex: 1 1 0;
    width: 0;
}

.customCard:hover{
    background-color: rgb(240, 218, 252) !important;
    transform: scale(1.05);
}

.customLink {
    text-decoration: none !important;
}

.customCardText {
    text-decoration: none !important;
    color: black !important;
}

.customBodyText {
    font-size: 0.9rem;
    color: gray !important;
}

