.add-review-field {
    width: fit-content;
    margin: auto;
}

.add-review-field-container {
    width: 30rem;
    margin: auto;
}

.add-review-field-label {
    width: 8rem;
    margin-inline: 2rem;
    font-size: 1.5rem;
    text-align: start;
}

.add-review-individual-field-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-review-input {
    width: 10rem;
    height: 2rem;
}

.add-review-select {
    width: 5rem;
    height: 2rem;
}

.add-review-save-button {
    font-size: 1.5rem;
 }