
.courseiconlist {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dependency-map-link {
    text-align: left;
}

.icon {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: solid;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;

    width: 85px;
    
    text-decoration: none;
    color: black;

    transition: transform .1s;
}

.bottom-course {
    padding-top: 0px !important;
}

.icon:hover {
    transform: scale(1.1);
    background-color: rgb(246, 246, 246);
}