
.copyright {
    font-size: 1.1rem;
    color: gray;
}

i {
    font-size: 1.3rem;
    margin-left: 15px;
    margin-right: 15px;
}

/*
.footer {
    background-color: rgb(241, 241, 241);
    position: relative;
    bottom: 0;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 5px !important;
}

*/

.footer {
    background-color: rgb(241, 241, 241);
    position: absolute;
    bottom: 0;
    height: 8%;
    width: 100vw;
    left: 0;
}