#root {
    margin: auto;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #d1d5db;
    border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #d1d5db;
    border-radius: 10px;
}

/*
KTP Colors
Dark Blue: #234c8b
Blue: #458eff
Light Blue: #8bb9ff
Dark Green: #538b52
Green: #8ddd8
Light Green: #baecba
*/
