.nav-brand {
   font-size: 1.375;
}

.nav-container {
   width: 100vw;
   margin: auto;
}

.header-nav-logos {
   width: 7.5rem;
   margin: auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.header-nav-logo {
   width: 1.75rem;
}

.navLink {
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
   transition: all 0.2s linear;
}
 
.navLink:hover {
   text-decoration: 2px #000000 underline !important;
}
 
@media only screen and (min-width: 1441px) { 
   .nav-brand {
      font-size: 1.625rem !important;
   }
   
   .navLink {
      font-size: 1.5rem;
   }
}
